In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import glob
import os

In [2]:
os.chdir("D:\kuliah\LOMBA\GEMASTIK 12\EDM22\Jupyter-notebook\Assets")

In [3]:
extension ='csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [4]:
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames])

In [5]:
combined_csv.head()

,Lintang (deg),Bujur (deg),Tanggal (dd/mm/yyy),Waktu Akuisisi (UTC),Tingkat Kepercayaan (%),Satelit,Kecamatan,Kabupaten,Provinsi
0,-8.47317,140.662,2014-08-04,04:28:00,25.0,aqua,Sota,Merauke,Papua
1,-8.29524,140.952,2014-08-04,04:28:00,58.0,aqua,Sota,Merauke,Papua
2,-8.14864,140.778,2014-08-04,04:28:00,35.0,aqua,Jagebob,Merauke,Papua
3,-8.32554,138.186,2014-08-04,04:28:00,58.0,aqua,Waan,Merauke,Papua
4,-8.32687,138.177,2014-08-04,04:28:00,48.0,aqua,Waan,Merauke,Papua

In [6]:
combined_csv.shape

(188148, 9)

In [7]:
combined_csv.columns = combined_csv.columns.str.strip()
combined_csv.columns

Index(['Lintang (deg)', 'Bujur (deg)', 'Tanggal (dd/mm/yyy)',
       'Waktu Akuisisi (UTC)', 'Tingkat Kepercayaan (%)', 'Satelit',
       'Kecamatan', 'Kabupaten', 'Provinsi'],
      dtype='object')

In [8]:
listColumnstoClean = ['Satelit','Kecamatan','Kabupaten','Provinsi']
for column in listColumnstoClean:
    combined_csv[column] = combined_csv[column].str.strip()
combined_csv.head()

,Lintang (deg),Bujur (deg),Tanggal (dd/mm/yyy),Waktu Akuisisi (UTC),Tingkat Kepercayaan (%),Satelit,Kecamatan,Kabupaten,Provinsi
0,-8.47317,140.662,2014-08-04,04:28:00,25.0,aqua,Sota,Merauke,Papua
1,-8.29524,140.952,2014-08-04,04:28:00,58.0,aqua,Sota,Merauke,Papua
2,-8.14864,140.778,2014-08-04,04:28:00,35.0,aqua,Jagebob,Merauke,Papua
3,-8.32554,138.186,2014-08-04,04:28:00,58.0,aqua,Waan,Merauke,Papua
4,-8.32687,138.177,2014-08-04,04:28:00,48.0,aqua,Waan,Merauke,Papua

In [9]:
isRiau = combined_csv['Provinsi'] == 'Riau'
dataRiau = combined_csv[isRiau]
dataRiau.shape

(53825, 9)

In [11]:
dataRiau.head()

,Lintang (deg),Bujur (deg),Tanggal (dd/mm/yyy),Waktu Akuisisi (UTC),Tingkat Kepercayaan (%),Satelit,Kecamatan,Kabupaten,Provinsi
117,-0.139824,102.882,2014-08-04,06:04:00,42.0,aqua,Gaunganakserka,Indragiri Hilir,Riau
118,1.98311,117.391,2014-08-04,06:04:00,59.0,aqua,Gaunganakserka,Indragiri Hilir,Riau
119,1.97997,117.369,2014-08-04,06:04:00,66.0,aqua,Gaunganakserka,Indragiri Hilir,Riau
120,-0.007676,102.744,2014-08-04,06:04:00,25.0,aqua,Gaunganakserka,Indragiri Hilir,Riau
121,0.12105,102.806,2014-08-04,06:04:00,16.0,aqua,Gaunganakserka,Indragiri Hilir,Riau

In [12]:
dataRiau.to_csv("data_riau_2014-2019.csv")

AttributeError: module 'pandas' has no attribute 'to_csv'