In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import glob
import os

In [4]:
os.chdir("D:\kuliah\LOMBA\GEMASTIK 12\EDM22\Jupyter-notebook\csvcluster")
extension ='csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames])
combined_csv.head()

    Tahun  count  cluster
0  201401      1        0
1  201402    115        0
2  201403    185        0
3  201406     10        0
4  201407      6        0

In [6]:
combined_csv.to_csv("combinedtoarima.csv")

In [ ]:
series = pd.read_csv("combinedtoarima.csv", header=0, parse_dates=[0],index_col=0, squeeze=True)
autocorrelation_plot(series)
plt.show()
model = ARIMA(series,order = (3,1,1))
model_fit = model.fit(disp=0)
print("=====model=====")
print(model_fit.summary())
residuals = pd.DataFrame(model_fit.resid)
plt.title("residuals ")
residuals.plot()
plt.show()
plt.title("KDE residuals ")
plt.show()
print("============================")